/* CSS Document */
"#MainWindow{\n"
"    font: 87 8pt \"Germany\";\n"
"    background-color: rgb(255, 0, 0);\n"
"background-image: url(:/newPrefix/Resources/patt_4cc99719cf715.jpg);\n"
"}\n"
"\n"
"#label,#label_8,#label_2{color:#f26522;font: 75 10pt \"Germany\";font-size:38px;}\n"
"#lcdNumber{\n"
"    color: rgb(255, 0, 0);\n"
"background-color: rgb(0, 0, 0);}\n"
"#label_3,#label_4,#label_5,#label_6,#label_9,#label_16,#label_18,#label_21,#label_26,#label_23,#label_24{color:#f26522;font: 75 10pt \"Germany\";font-size:16px;}\n"
"#label_12,#label_13,#label_14,#label_15,#label_17,#label_19,#label_20,#label_22{color: rgb(255, 170, 0);font: 75 10pt \"Germany\";font-size:16px;}\n"
"\n"
"#label_7{\n"
"    \n"
"    \n"
"    font: 48pt \"Germany\";\n"
"    \n"
"    \n"
"    color: rgb(170, 0, 255);\n"
"    }\n"
"\n"
"#centralwidget{\n"
"    background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:0.057, y2:0.0681818, stop:0 rgba(81, 81, 81, 151), stop:0.98 rgba(0, 0, 0, 255));\n"
"\n"
"}\n"
"#label_10{\n"
"    background-color: rgb(0, 0, 0);\n"
"    color: rgb(255, 0, 0);\n"
"    \n"
"    font: 75 48pt \"Germany\";\n"
"\n"
"}\n"
"QPushButton{\n"
"    \n"
"    \n"
"font: 75 8pt \"Germany\";\n"
"color: #333;\n"
"border: 2px solid #555;\n"
"border-radius: 11px;\n"
"padding: 5px;\n"
"background: qradialgradient(cx: 0.3, cy: -0.4,\n"
"fx: 0.3, fy: -0.4,\n"
"radius: 1.35, stop: 0 #fff, stop: 1 #888);\n"
"min-width: 80px;\n"
"    \n"
"\n"
"}\n"
"\n"
"QPushButton:hover {\n"
"background: qradialgradient(cx: 0.3, cy: -0.4,\n"
"fx: 0.3, fy: -0.4,\n"
"radius: 1.35, stop: 0 #fff, stop: 1 #bbb);\n"
"}\n"
"\n"
"QPushButton:pressed  {\n"
"\n"
"background: qradialgradient(cx: 0.4, cy: -0.1,\n"
"fx: 0.4, fy: -0.1,\n"
"radius: 1.35, stop: 0 #fff, stop: 1 #ddd);\n"
"}\n"
"#label_11{\n"
"\n"
"    background-color: rgb(255, 170, 127);\n"
"\n"
"}\n"
"#highlabel,#goodlabel,#lowlabel{\n"
"border-width: 2px;\n"
"border-radius: 15px;\n"
"    background-color: rgb(179, 179, 179);\n"
"font: 70 7pt \"Germany\";\n"
"\n"
"\n"
"}\n"
"\n"
"#tableView  {\n"
"gridline-color:  rgb(170, 85, 255);\n"
"\n"
"}\n"
"\n"
""